<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if current_user.admin? && !current_user?(@user) %>
          | <%= link_to "Delete", @user, method: :delete,
                                        data: { confirm: "Are you sure?" } %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
